.image1{
    margin-left: 200px;
 }
 .car1 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car1 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car2 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car2 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car3 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car3 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car4 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car4 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car4 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }
 .car4 p{
    font-size: 36px;
    margin-left: 400px;
    margin-right: 400px;
 }
 .car5 img{
    margin-left: 400px;
    height: 70vh;
    width: 100vh;
 }